body {
  padding-top: 150px;
}
.header {
  width: 100%;
  text-align: center;
  background-color: black;
}
.logo {
  position:absolute;
  left:10px;
  top: 10px
}
.navbar {
  margin-left: 250px;
  line-height: 90px;
  font-size: 20px;
}
.navbar a {
  float: left;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
}
.navbar .search-container {
  float: right;
}
.navbar input {
  padding: 6px;
  border: none;
  margin-top: 40px;
  margin-right: 16px;
  font-size: 17px;
  line-height: 10px;
}
.search-container button {
  float: right;
  padding: 6px;
  margin-top: 40px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  line-height: 20px;
}
.dropdown {
  float: left;
  display: inline-block;
}
.btn {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 45px 20px;
  color: white;
  font-size: 20px;
}
.navbar a:hover, .dropdown:hover .btn {
  color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100px;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px;
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: black;
}
.dropdown:hover .btn {
  color: red;
}
a:hover {
  color: red;
}
.Welcome {
  background: url("../images/collage.jpg");
  background-size: cover;
  padding: 30px;
  margin-top: -20px;
}
.Welcome h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 130px;
  color: rgb(75,0,130);
}
.Welcome h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 65px;
  font-weight: bolder;
  color: rgb(128,0,128);
}
.Description{
  background-color: rgb(255, 102, 102);
  margin-top: -20px;
  padding-top: 150px;
}
.Description h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  padding: 30px;
}
.Description p {
  padding: 20px 100px 20px 100px;
  font-family: garamond;
  font-size: 30px;
  text-align: justify;
}
.Description h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  text-align: center;
}
.Statistics-list {
  background-color: rgb(255, 102, 102);
  list-style: none;
  display: inline;
  font-size: 20px;
  text-align: center;
}
.Statistics-list img{
  padding: 30px 0px 0px 0px;
}
.Statistics-list p {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.col-sm-4 {
  margin-top: -20px;
  background-color: rgb(255, 102, 102);
}
.Advice {
  background-image: url("../images/paws.png");
  padding-top: 150px;
}
.Advice h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  text-align: center;
}
.Advice p {
  padding: 50px 30px 20px 100px;
  font-family: garamond;
  font-size: 40px;
  text-align: justify;
  margin-left: 40px;
  font-weight: bolder;
}
.video-container {
  display: inline;
  margin-left: 200px;
}
.Contact {
  font-family: garamond;
  font-size: 20px;
  background-color: #006699;
  color: white;
  padding-left: 30px;
  padding-top: 150px;
}
.Contact h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  padding: 30px 80px 30px 50px;
  text-align: center;
  color: white;
}
.media-buttons {
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
  font-weight: bold;
}
.mapouter {
  text-align:right;
  height:316px;
  width:383px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:300px;
  width:300px;
}
.zoom img {
  margin: 30px 300px 30px 100px;
  transition: transform .2s;
}
.zoom:hover img {
  transform: scale(1.1);
}
